body {
  background: url("./components/background.png");
  background-size: 100%
}

.background-img{
  margin: 0 auto;
}

body{
  font-family: "playfairdisplay",Helvetica,Arial,sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  margin: 0 auto;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 10%;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 8%;
  background-color: #d2cdc9!important;

}

#section1{
  text-align: left;
  padding-left: 150px;
 
}

#section2{
  text-align: left;
  padding-left: 120px;
  padding-right: 50px;

}

#section3 {
text-align: left;
padding-left: 60px;
}

.content{
  text-align: left;
}

.img-container{

  width: 100%;
  margin-top: 15%;
  margin-bottom: 20px;
margin-left: 15px
}

.img-container2{

  width: 100%;
  margin-top: 15%;
  margin-left:15px
}

.img-container3{

  width: 100%;
  margin-top: 15%;

}

.header{
  margin-top:0px;
  padding-left:45px;
  padding-right:45px;
  padding-top:80px;
  padding-bottom: 80px;
background-color: #d2cdc9;
color: #545454
}

.holder{
  margin-top:0px;
  padding-top:60px;
  padding-bottom: 10px;
  padding-left: 130px;
  padding-right: 65px;
background-color: transparent;
color: #545454 
}


#part1, #part2, #part3, #part4{
padding-left: 65px;
padding-right: 165px;
padding-top: 30px;
text-align: left
}

.content{

  margin-top:30px;
text-align: left;
padding-right: 20px;
padding-left:20px;
font-size: 14px;

}

.column {
  float: left;
  width: 50%;
}

.column1 {
  float: left;
  width: 33.33%!important;
}

#section1, #section2, #section3{
  float: left;
  width: 33.33%!important;
}

.main-carousel{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #c3aead;

}

.formPage{
  margin-top: 60px;
  color: #545454;
  width: 680px;
  margin-left: 40%;
  margin-bottom: 40px;
}

.btn-outline-secondary{
  width: 150px!important;
  margin-top: 10px!important;
  margin: 0 auto!important;


}

.textarea.form-control{
  width: 680px;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #c3aead;
  transition: color 0.2s;
  background-color: #ffffff;
}

.bm-item:hover {
  color: #c3aead;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.social-media{
background-color: #c3aead;
color: #545454;
padding-top:80px;
padding-bottom: 80px;
}

.social-icons{
  margin-top: 40px;
  margin-left: 5px;
}

.copyright{
  margin-top: 60px;
}

.bm-burger-bars {
  background-color: #d2cdc9;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #c3aead;
}

.bm-menu {
  background-color: #ffffff!important;
  opacity: .90;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #c3aead;
}

.bm-item-list {
  color: #c3aead!important;
  background-color: #ffffff;
}

.bm-overlay {
  background: none!important;
}

.MuiAppBar-colorPrimary-11 {
  color: #545454!important;
  margin-bottom:5px;
}

.MuiToolbar-root-40, .MuiToolbar-regular-42, .MuiToolbar-gutters-41 {
  margin-top: 50px;
}


